# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
dub.selections.json

# Code coverage
*.lst

# Local tests
test/

# Documentation output
docs/
docs.json
__dummy.html
dagon2-guidebook.pdf
